main
*.ascii
.git
.git/*
asciishade
*.o
unittest_colors
unittest_driver
unittest_read_ascii
unittest_wide_chars
unittest_chars
unittest_time
unittest_canvas_pixel
*.cast
asciis
asciis/*
art
art/*
out
out/*
